* {
  box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #222;
    color: #eee;
}
html{
    font-family: "helvetica neuve", sans-serif;
}
ul{
    margin: 0;
    padding: 0;}
li{
    list-style: none;
}
section{
    padding-top: 70px;
}

.nav1{
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    z-index: 10;
    background-color: #222;
    background-color: #1d1d1b;
    background-image: linear-gradient(180deg, #000 0%, #333 75%);
}
.menu{
    margin: 0 30px 0 0;
}
.menu a{
    clear: both;
    text-decoration: none;
    color: #f39c12;
    margin: 0 auto;
    line-height: 70px;
    padding: 20px 10px;
}
span{
    color: #f39c12;
    font-weight: bold;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    color: #fff;
}
#toggle{
    display: none;
}
/*responsive*/
@media only screen and (max-width: 500px){
    label{
        display: block;
        cursor: pointer;
        color: #fff;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        background: rgba(250,250,250,.9);
        padding: 0;
    }
    .menu a:hover{
        background: rgba(50,50,50,1);
        color: #eee;
        transition-duration: .2s;
    }
    #toggle:checked + .menu{
        display: block;
    }
/*    homepage*/
    #homepage .logoT7{
        width: 80%;
    }
    /*frames*/
    #frames{
    background: #f0f2f0;
    color: #222;
    position: absolute;
    margin-top: 170px;!important;
    text-align: center;
    font-size: .6em;
    }
    
    section #profil1{
        position: fixed;
        background: #222;
        width: 100%;
    }
    #frames .cmd{
/*        position: fixed;*/
    }

/*
    #frames #framesbody td{
        max-width: 47px;
    }
*/
    tbody{
        background: #F0F2F0;
    }
    
    #framesbody .cmd{
        position: fixed;
        display: flex;
        width: 100%;
        margin-top: 40px;
    }
    #framesbody .cmd td{
        flex: 1;
    }
    section td{
        width: 10%;
    }
    #profil1 h2{
        text-align: center;
    }
    #frames ul{
        display: flex;
        padding-bottom: 10px;
    }
    #frames li{
        flex: 1;
    }
}


/*
.btn{
    display: block;padding: 12px 2px;
    margin: 2%;
    border: 1px solid #77aaaa;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: #aadddd;
    background: -moz-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    background: linear-gradient(top, #aadddd 0%, #77aaaa 100%);
}
.btn:hover{
    background: #77aaaa;
    background: -moz-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
}
*/

h1{
    margin: 0 auto;
    text-align: center;
    color: #FFD05B;
}
#main-content{
    background: #222;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#content{
    padding: 2%;
}
#profil img{
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
}

.story{
    display: block;
    height: 100px;
    overflow: hidden;
}
#gameplay{
    background: #222;
    text-align: center;
}
/*homepage*/
#content #homepage{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	position: relative;
	top: 0;
}

#homepage .logoT7{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .7;
    transition: .3s;
    transform: translate(-50%, -50%);
    width: 50%;
}
#homepage .logoT7:hover{
    opacity: 1;
}
.logobg{
    opacity: .8;
}
.intro1{
    width: 100%;
    min-height: 700px;
    background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*characters*/
#profil ul{
    display: flex;
    text-align: center;
    margin: 5px;
}
#profil li{
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    background: #B04D5D;
    min-width: 40%;
}
#profil li:hover{
    cursor: pointer;
    background: #8c212f;
}
#profil .btn a{
    color: #eee;
    text-decoration: none;
}

/*frames*/
#frames{
    background: #f0f2f0;
    color: #222;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: .6em;
}
/*

#frames #framesbody td{
    max-width: 55px;
}
tbody{
    background: #F0F2F0;
    
}
#framesbody tr{
   
}
#profil h2{
    text-align: center;
}
#frames ul{
    display: flex;
    padding-bottom: 10px;
}
#frames li{
    flex: 1;
}
*/

/*training*/
#training{
    padding-top: 70px;
}
#training img{
    width: 100%;
}
